<div *ngIf="userProfile" class="row">
  <div class="col-12">
    <h3>Benutzerprofil
      <span class="small-text-light">#{{userProfile.UserID}}</span>
    </h3>
  </div>

  <div class="col-12">
    <dx-form [colCount]="1" [formData]="userProfile" [labelLocation]="labelLocation">
      <dxi-item dataField="Name"> <dxi-validation-rule
        type="required"
        message="Bitte Namen ausfüllen!">
    </dxi-validation-rule></dxi-item>
      <dxi-item dataField="EMail"></dxi-item>
      <dxi-item dataField="Mobil"></dxi-item>
      <dxi-item dataField="Password" [editorOptions]="{ mode: 'password' }">
      </dxi-item>

      <dxi-item itemType="group" caption="Benachrichtigungen">
        <!-- Benachrichtigungswege -->
        <dxi-item dataField="UserNotification.ErrorsPerMail" editorType="dxCheckBox">
          <dxo-label text="Fehler per Mail" location="left" horizontalAlignment="left"></dxo-label>
        </dxi-item>
        <dxi-item dataField="UserNotification.ErrorsPerMessenger" editorType="dxCheckBox">
          <dxo-label text="Fehler per Messenger" location="left" horizontalAlignment="left"></dxo-label>

        </dxi-item>
        <dxi-item>
          <div *dxTemplate>
              <div class="dx-field">
                  <div class="dx-field-label"></div>
                  <div class="dx-field-value">
                    <span>persönlicher Telegram-Token: <span class="text-info font-weight-bold">{{userProfile.ChatToken}}</span></span>
                  </div>
                </div>
          </div>
        </dxi-item>


        <!-- tägliche Reports -->
        <dxi-item dataField="UserNotification.ReportsDaily" editorType="dxCheckBox">
          <dxo-label text="tägliche Berichte" location="left" horizontalAlignment="left"></dxo-label>
        </dxi-item>
        <dxi-item dataField="UserNotification.ReportsDailyMailAddresses">
          <dxo-label text="E-Mail-Adressen" location="top"></dxo-label>
        </dxi-item>
        <!-- monatliche Reports -->
        <dxi-item dataField="UserNotification.ReportsMonthly" editorType="dxCheckBox">
          <dxo-label text="monatliche Berichte" location="left" horizontalAlignment="left"></dxo-label>
        </dxi-item>
        <dxi-item dataField="UserNotification.ReportsMonthlyMailAddresses">
          <dxo-label text="E-Mail-Adressen" location="top"></dxo-label>
        </dxi-item>
      </dxi-item>
    </dx-form>
    <button class="btn btn-success" (click)="saveProfile()">speichern</button>
  </div>
</div>


<!--div>
      <h3>Benutzerdaten
        <dx-button text="Benutzer abmelden" type="dark" (onClick)="logout()"></dx-button>
      </h3>
      <div class="dx-fieldset" style="width:500px;">
        <div class="dx-field">
          <div class="dx-field-label">Name</div>
          <div class="dx-field-value">
            <dx-text-box width="220px" [(ngModel)]="userProfile.Name"></dx-text-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">E-Mail</div>
          <div class="dx-field-value">
            <dx-text-box width="250px" [(ngModel)]="userProfile.EMail"></dx-text-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">Mobilfunknummer</div>
          <div class="dx-field-value">
            <dx-text-box width="200px" [(ngModel)]="userProfile.Mobil"></dx-text-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">Passwort</div>
          <div class="dx-field-value">
            <dx-text-box mode="password" width="150px" [(ngModel)]="userProfile.Password"></dx-text-box>
          </div>
        </div>
      </div>

      <h3>Benachrichtigungs-Einstellungen</h3>
      <br/>
      <dx-check-box text="tägliche Statusbenachrichtigung aller Sensorstatis aktivieren"
                    [(ngModel)]="userProfile.UserNotification.DailyStatus"></dx-check-box>
      <br/>
      <dx-check-box style="padding-left: 25px; padding-top: 10px; padding-bottom: 5px;"
                    text="nur zustellen, wenn Sensor-Fehler aufgetreten sind"
                    [(ngModel)]="userProfile.UserNotification.DailyOnlyOnError"></dx-check-box>
      <br/>
      <dx-check-box style="padding-left: 25px; padding-right: 10px" text="per E-Mail zustellen"
                    [(ngModel)]="userProfile.UserNotification.DailyWithEMail">&nbsp;&nbsp;
      </dx-check-box>
      <dx-button text="testen" type="normal" style="margin-bottom: 5px" (onClick)="sendStatusMail()"></dx-button>
      <br/>
      <div *ngIf="isAdmin">
        <dx-check-box style="padding-left: 25px; padding-right: 10px" text="per Messenger zustellen"
                      [(ngModel)]="userProfile.UserNotification.DailyWithMessenger"></dx-check-box>
        <dx-button text="testen" type="normal" (onClick)="sendStatusMessage()"></dx-button>
        <br/>
      </div>
      <br/>
      <dx-check-box text="kontinuierlicher Fehlerbericht aktivieren"
                    [(ngModel)]="userProfile.UserNotification.ErrorStatus"></dx-check-box>
      <br/>
      <dx-check-box style="padding-left: 25px; padding-top: 10px; padding-bottom: 5px; padding-right: 10px"
                    text="per E-Mail zustellen"
                    [(ngModel)]="userProfile.UserNotification.ErrorWithEMail"></dx-check-box>&nbsp;&nbsp;<dx-button
      text="testen" type="normal" style="margin-bottom: 5px" (onClick)="sendErrorMail()"></dx-button>
      <br/>
      <div *ngIf="isAdmin">
        <dx-check-box style="padding-left: 25px; padding-right: 10px" text="per Messenger zustellen"
                      [(ngModel)]="userProfile.UserNotification.ErrorWithMessenger"></dx-check-box>&nbsp;&nbsp;<dx-button
        text="testen" type="normal" (onClick)="sendErrorMessage()"></dx-button>
        <br>
      </div>
      <br>
    </div>
  </div>
  <div class="col-lg">
    <h3>tägliche Dashboard-Berichte</h3>
    <dx-check-box text="tägliche Statusbenachrichtigung aller Sensorstatis aktivieren"
                  [(ngModel)]="userProfile.UserNotification.DailyStatus"></dx-check-box>
    <table>
      <tr>
        <td>verfügbare Berichte</td>
        <td>zusätzliche E-Mail-Empfänger</td>
      </tr>
      <tr *ngFor="let dRepInfo of userProfile.UserNotification.DailyDashboardReports">
        <td>
          <dx-check-box text="{{dRepInfo.CustomerCaption}} - {{dRepInfo.DashboardCaption}}"
                        [(ngModel)]="dRepInfo.IsSelected"></dx-check-box>
        </td>
        <td>
          <dx-text-box [(ngModel)]="dRepInfo.MailAddresses"></dx-text-box>
        </td>
      </tr>
    </table>
    <br>
    <br>



    <h3>monatliche Dashboard-Berichte</h3>
    <dx-check-box text="monatliche Berichte verschicken aktivieren"
                  [(ngModel)]="userProfile.UserNotification.MonthlyStatus"></dx-check-box>
    <table>
      <tr>
        <td>verfügbare Berichte</td>
        <td>zusätzliche E-Mail-Empfänger</td>
      </tr>
      <tr *ngFor="let dRepInfo of userProfile.UserNotification.MonthlyDashboardReports">
        <td>
          <dx-check-box text="{{dRepInfo.CustomerCaption}} - {{dRepInfo.DashboardCaption}}"
                        [(ngModel)]="dRepInfo.IsSelected"></dx-check-box>
        </td>
        <td>
          <dx-text-box [(ngModel)]="dRepInfo.MailAddresses"></dx-text-box>
        </td>
      </tr>
    </table>
    <br>
    <br>
  </div>


<di class="row">
  <div class="col-md">
    <dx-button text="speichern" type="success" (onClick)="saveProfile()"></dx-button>
  </div>
</di-->
